
/* Personel.css */

.personel-form > textarea {
  max-height: 300px;
  max-width: 100%;
  overflow-y: auto; /* Dikey kaydırma çubuğunu otomatik olarak ekle */
  resize: vertical;
}

.personel-update h1{
  display: flex; /* Flex konteyneri olarak ayarla */
  justify-content: center; /* Yatayda içeriği ortala */
  align-items: center;
  color: var(--clr-primary);
}
