.personel-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .personel-table th,
  .personel-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .personel-table th {
    background-color: #f2f2f2;
  }
  
  .personel-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .personel-table tr:hover {
    background-color: #ddd;
  }
  