/* admin.css */

/* Pending Managers başlığı */
.admin-panel-pending-managers h1 {
    font-size: 32px;
    padding: 16px;
    color: var(--clr-primary); /* Başlık rengi */
  }
  
  /* Pending Managers listesi */
  .admin-panel-pending-managers ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-panel-pending-managers ul li {
    margin-bottom: 16px;
    border: 1px solid var(--clr-primary); /* Sınır rengi */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
/* Onay düğmesi */
.admin-panel-pending-managers button.approve-btn {
    background-color: var(--clr-success); /* Düğme arkaplan rengi */
    color: var(--clr-secondary); /* Düğme metin rengi */
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-panel-pending-managers button.approve-btn:hover {
    background-color: #FFC72C; /* Hover durumunda arkaplan rengi */
    color: var(--clr-secondary); /* Hover durumunda metin rengi */
}

/* Reddet düğmesi */
.admin-panel-pending-managers button.reject-btn {
    background-color: var(--clr-error); 
    color: var(--clr-secondary); 
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-panel-pending-managers button.reject-btn:hover {
    background-color: #FFC72C; 
    color: var(--clr-secondary); 
}


  