
/* Personel.css */

.personel-form > textarea {
  max-height: 300px;
  max-width: 100%;
  overflow-y: auto; /* Dikey kaydırma çubuğunu otomatik olarak ekle */
  resize: vertical;
}

.personel-update h1{
  display: flex; /* Flex konteyneri olarak ayarla */
  justify-content: center; /* Yatayda içeriği ortala */
  align-items: center;
  color: var(--clr-primary);
}

.personelInfoPage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  color: #555;
  margin: 0;
}

p {
  font-size: 18px;
  color: #333;
  margin: 0;
}

a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.personal-info {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.personal-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.personal-info div {
  font-size: 18px;
  margin-top: 10px;
}

.personal-info p {
  margin: 5px 0;
}

.personal-info strong {
  font-weight: bold;
  margin-right: 5px;
}